/* You can add global styles to this file, and also import other style files */

/*.book-component {
  border: 3px solid #fb0606;
}*/

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
